# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
debug.log
error.log

# MongoDB data & dump files
/data/db/
mongod.lock
*.log
*.pid
dump.sql

# Build files
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
